---
layout: default
---

{% if page.header.overlay_color or page.header.overlay_image or page.header.image %}
  {% include page__hero.html %}
{% endif %}

{% if page.url != "/" and site.breadcrumbs %}
  {% unless paginator %}
    {% include breadcrumbs.html %}
  {% endunless %}
{% endif %}

{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

<div id="main" role="main">
    <div class="sidebar sticky">
        {% include author-profile-tiny.html %}
        {% if page.sidebar %}
          {% for s in page.sidebar %}
            {% if s.image %}
              <img src=
              {% if s.image contains "://" %}
                "{{ s.image }}"
              {% else %}
                "{{ s.image | prepend: "/images/" | prepend: base_path }}"
              {% endif %}
              alt="{% if s.image_alt %}{{ s.image_alt }}{% endif %}">
            {% endif %}
            {% if s.title %}<h3>{{ s.title }}</h3>{% endif %}
            {% if s.text %}{{ s.text | markdownify }}{% endif %}
          {% endfor %}
          {% if page.sidebar.nav %}
            {% include nav_list nav=page.sidebar.nav %}
          {% endif %}
        {% endif %}
        </div>

  <div class="archive">
    {% unless page.header.overlay_color or page.header.overlay_image %}
      <h1 class="page__title">{{ page.title }}</h1>
    {% endunless %}
    {{ content }}
  </div>
</div>
